<!DOCTYPE html>
<html lang="pt">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=<device-width>, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

    <h1>BANCO DE DADOS</h1>
    <form method = "post" action="{% url 'index' %}">
        {% csrf_token %}
        <input type="text" name="name" placeholder="Digite o nome">
        <input type="text" name="idade" placeholder="Digite a idade">
        <input type="email" name="email" placeholder="Digite o email">
        <input type="tel" name="telefone" placeholder="Digite o telefone">
        <input type="text" name="endereco" placeholder="Digite o endereco">
        <input type="submit" value="Enviar dados">
    </form>



    <ul>
        {% for cliente in lista_itens %}
            <li>
            {{cliente.id}}:{{cliente.nome}}-{{cliente.idade}}-{{cliente.email}}-{{cliente.telefone}}-{{cliente.endereco}}
            </li>
        {%empty%}
            <li> Sem comentários na lista...</li>
        {% endfor %}
    </ul>
</body>
</html>