<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Página Inicial</title>
</head>
<body>
    <h1>Bem-vindo à Página Inicial</h1>
    <p>Escolha uma opção:</p>
    <ul>
        <li><a href="{% url 'cadastrar_cliente' %}">Cadastrar Cliente</a></li>
        <li><a href="{% url 'listar_clientes' %}">Lista de Clientes</a></li>
        <li><a href="{% url 'cadastrar_produto' %}">Cadastrar Produto</a></li>
        <li><a href="{% url 'listar_produtos' %}">Lista de Produtos</a></li>
    </ul>
</body>
</html>
